{# _partials/page-subheader.twig #}
{% set currentPath = craft.app.request.pathInfo ? '/' ~ craft.app.request.pathInfo|trim('/') : '/' %}
{% set pageName = pageName is defined ? pageName : '' %}

{% if currentPath != '/' %}
<section class="page-subheader">
  <div class="container">
    <h2>{{ pageName }}</h2>
  </div>
</section>
{% endif %}
