<aside class="sidebar" aria-label="{{ title|default('Sidebar') }}">
    {% if sections is defined and sections|length %}
        <div class="container-sections">
            {% for section in sections %}
                <div class="container-section--headed">
                    {% if section.title %}
                        <div class="container-section-header">{{ section.title }}</div>
                    {% endif %}
                    <div class="container-section-body">
                        {% if section.html is defined and section.html %}
                            <div class="body">{{ section.html|raw }}</div>
                        {% elseif section.text %}
                            <div class="body">{{ section.text }}</div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</aside>
