{# _partials/site-footer.twig #}
<footer class="site-footer">
  <div class="shell footer-row">
    <div class="footer-socials">
      <a href="#">Facebook</a>
      <a href="#">X</a>
      <a href="#">Instagram</a>
      <a href="#">Pinterest</a>
    </div>
    <div class="footer-version" id="footer-version">{{ include('_generated/build-info.twig', ignore_missing = true)|trim }}</div>
  </div>
</footer>
