{# _partials/site-footer.twig #}
<footer class="site-footer">
  <div class="container footer-row">
    <div class="footer-socials">
      <a href="#">Facebook</a>
      <a href="#">X</a>
      <a href="#">Instagram</a>
      <a href="#">Pinterest</a>
    </div>
  </div>
</footer>
