<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    {% set siteHeader = craft.app.globals.getSetByHandle('siteHeader') %}
    {% set siteName = siteHeader and siteHeader.siteName ? siteHeader.siteName : '' %}
    <title>{% block pageTitle %}{{ siteName }}{% endblock %}</title>
    <meta name="description" content="{% block pageDescription %}Handmade makes, completed projects, and items needing new homes.{% endblock %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans:wght@400;600;700&family=Playfair+Display:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/site.css">
    {% block headExtra %}{% endblock %}
</head>
<body>
{% include '_partials/site-header.twig' %}
{% block pageSubheader %}{% endblock %}
{% block pageContent %}{% endblock %}
{% include '_partials/site-footer.twig' %}
{% block scripts %}{% endblock %}
</body>
</html>
